services:
  aisearch-app:
    build:
      context: .
      dockerfile: Dockerfile_api
      args:
        https_proxy: ${HTTPS_PROXY_ENV}
        http_proxy: ${HTTP_PROXY_ENV}
        HTTPS_PROXY: ${HTTPS_PROXY_ENV}
        HTTP_PROXY: ${HTTP_PROXY_ENV}
    healthcheck:
      disable: true
    command: >
      sh -c "
        exec uvicorn app.main:app --host ${APP_HOST} --port ${APP_PORT} --reload
      "

  aisearch-celery-worker:
    build:
      context: .
      dockerfile: Dockerfile_search_main
      args:
        https_proxy: ${HTTPS_PROXY_ENV}
        http_proxy: ${HTTP_PROXY_ENV}
        HTTPS_PROXY: ${HTTPS_PROXY_ENV}
        HTTP_PROXY: ${HTTP_PROXY_ENV}
        IMAGE_NAME_DEPS: ${IMAGE_NAME_DEPS}
        REGISTRY: ${REGISTRY}
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: all
              capabilities: [ gpu ]

  aisearch-updater:
    build:
      context: .
      dockerfile: Dockerfile_search_main
      args:
        https_proxy: ${HTTPS_PROXY_ENV}
        http_proxy: ${HTTP_PROXY_ENV}
        HTTPS_PROXY: ${HTTPS_PROXY_ENV}
        HTTP_PROXY: ${HTTP_PROXY_ENV}
        IMAGE_NAME_DEPS: ${IMAGE_NAME_DEPS}
        REGISTRY: ${REGISTRY}
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: all
              capabilities: [ gpu ]

  aisearch-redis:
    container_name: aisearch-redis
    image: redis:7.4.2
    env_file:
      - .env
    hostname: ${REDIS_HOSTNAME}
    command: --port ${REDIS_PORT}
    ports:
      - ${REDIS_PORT}:${REDIS_PORT}

  aisearch-redisinsight:
    container_name: aisearch-redisinsight
    image: redis/redisinsight:latest
    env_file:
      - .env
    ports:
      - ${REDISINSIGHT_PORT}:5540

  aisearch-queue-worker:
    build:
      context: .
      dockerfile: Dockerfile_queue
      args:
        https_proxy: ${HTTPS_PROXY_ENV}
        http_proxy: ${HTTP_PROXY_ENV}
        HTTPS_PROXY: ${HTTPS_PROXY_ENV}
        HTTP_PROXY: ${HTTP_PROXY_ENV}

  aisearch-os-dashboards:
    image: opensearchproject/opensearch-dashboards:2.12.0
    container_name: aisearch-os-dashboards
    environment:
      OPENSEARCH_HOSTS: '["http://aisearch-opensearch:9200"]'
      DISABLE_SECURITY_DASHBOARDS_PLUGIN: true
    ports:
      - "5601:5601"
    depends_on:
      aisearch-opensearch:
        condition: service_healthy

  attu:
    image: zilliz/attu:v2.5.0
    container_name: aisearch-attu
    ports:
      - 8010:3000
    depends_on:
      aisearch-milvus:
        condition: service_healthy