services:
  aisearch-app:
    build:
      context: .
      dockerfile: Dockerfile_api
      args:
        https_proxy: ${HTTPS_PROXY}
        http_proxy: ${HTTP_PROXY}
        HTTPS_PROXY: ${HTTPS_PROXY}
        HTTP_PROXY: ${HTTP_PROXY}
    healthcheck:
      disable: true
    networks:
      - default
      - service-network
    command: >
      sh -c "
        exec uvicorn app.main:app --host ${APP_HOST} --port ${APP_PORT} --reload
      "
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: all
              capabilities: [ gpu ]

  aisearch-queue-worker:
    build:
      context: .
      dockerfile: Dockerfile_queue
      args:
        https_proxy: ${HTTPS_PROXY}
        http_proxy: ${HTTP_PROXY}
        HTTPS_PROXY: ${HTTPS_PROXY}
        HTTP_PROXY: ${HTTP_PROXY}
    networks:
      - default
      - service-network

  aisearch-celery-worker:
    build:
      context: .
      dockerfile: Dockerfile_search_main
      args:
        https_proxy: ${HTTPS_PROXY}
        http_proxy: ${HTTP_PROXY}
        HTTPS_PROXY: ${HTTPS_PROXY}
        HTTP_PROXY: ${HTTP_PROXY}
        IMAGE_NAME_BASE: ${IMAGE_NAME_BASE}
        IMAGE_NAME: ${IMAGE_NAME}
        IMAGE_NAME_DEPS: ${IMAGE_NAME_DEPS}
        REGISTRY: ${REGISTRY}
        CUDA_IMAGE: ${CUDA_IMAGE}
        CUDA_WHEEL: ${CUDA_WHEEL}
    networks:
      - default
      - service-network
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: all
              capabilities: [ gpu ]

  aisearch-etcd:
    networks:
      - default

  aisearch-minio:
    networks:
      - default

  aisearch-milvus:
    networks:
      - default

  attu:
    image: zilliz/attu:v2.5.0
    container_name: aisearch-attu
    ports:
      - 8010:3000
    depends_on:
      aisearch-milvus:
        condition: service_healthy
    networks:
      - default

  aisearch-opensearch:
    networks:
      - default

  aisearch-os-dashboards:
    image: opensearchproject/opensearch-dashboards:2.12.0
    container_name: aisearch-os-dashboards
    environment:
      OPENSEARCH_HOSTS: '["http://aisearch-opensearch:9200"]'
      DISABLE_SECURITY_DASHBOARDS_PLUGIN: true
    ports:
      - "5601:5601"
    depends_on:
      aisearch-opensearch:
        condition: service_healthy
    networks:
      - default

#  aisearch-vllm:
#    networks:
#      - default

networks:
  default:
    driver: bridge

  service-network:
    name: service-network
    external: true
