services:
  aisearch-app:
    build:
      context: .
      dockerfile: Dockerfile_api
      args:
          https_proxy: ${HTTPS_PROXY_ENV}
          http_proxy: ${HTTP_PROXY_ENV}
          HTTPS_PROXY: ${HTTPS_PROXY_ENV}
          HTTP_PROXY: ${HTTP_PROXY_ENV}
    volumes:
      - ./:/backend
      - ${APP_LOGS_HOST_PATH}/:${APP_LOGS_CONTR_PATH}/
      - ${GUNICORN_LOGS_HOST_PATH}/:${GUNICORN_LOGS_CONTR_PATH}/
    networks:
      - default
      - service-network

  aisearch-queue-worker:
    build:
      context: .
      dockerfile: Dockerfile_queue
      args:
        https_proxy: ${HTTPS_PROXY_ENV}
        http_proxy: ${HTTP_PROXY_ENV}
        HTTPS_PROXY: ${HTTPS_PROXY_ENV}
        HTTP_PROXY: ${HTTP_PROXY_ENV}
    networks:
      - default
      - service-network

  aisearch-celery-worker:
    build:
      context: .
      dockerfile: Dockerfile_search_main
      args:
         https_proxy: ${HTTPS_PROXY_ENV}
         http_proxy: ${HTTP_PROXY_ENV}
         HTTPS_PROXY: ${HTTPS_PROXY_ENV}
         HTTP_PROXY: ${HTTP_PROXY_ENV}
         IMAGE_NAME_DEPS: ${IMAGE_NAME_DEPS}
         REGISTRY: ${REGISTRY}
    networks:
      - default
      - service-network
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: all
              capabilities: [ gpu ]

  aisearch-updater:
    build:
      context: .
      dockerfile: Dockerfile_search_main
      args:
        https_proxy: ${HTTPS_PROXY_ENV}
        http_proxy: ${HTTP_PROXY_ENV}
        HTTPS_PROXY: ${HTTPS_PROXY_ENV}
        HTTP_PROXY: ${HTTP_PROXY_ENV}
        IMAGE_NAME_DEPS: ${IMAGE_NAME_DEPS}
        REGISTRY: ${REGISTRY}
    networks:
      - default
      - service-network
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: all
              capabilities: [ gpu ]

  aisearch-etcd:
    networks:
      - default

  aisearch-minio:
    networks:
      - default

  aisearch-milvus:
    networks:
      - default

  attu:
    networks:
      - default

  aisearch-opensearch:
    networks:
      - default

  aisearch-vllm:
    networks:
      - default

networks:
  default:
    driver: bridge

  service-network:
    name: service-network
    external: true
